storePassword=<password from previous step>
keyPassword=<password from previous step>
keyAlias=<key alias>
storeFile=<location of the key store file, such as /Users/<user name>/keystore.jks>


# Check out: https://developer.android.com/studio/publish/app-signing?hl=pt-br#secure-shared-keystore